[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pprint = "*"

[packages]
flask = "*"
bs4 = "*"
pylint = "*"
requests-html = "*"
flask-restx = "*"
requests = "*"
ics = "*"
typing = "*"
pyjwt = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
